@page "/{CurrentCulture?}/tours/{name}"
@using Sunny_Hurghada.Pages
@model Sunny_Hurghada.Pages.ToursListModel

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- ============================================================== -->
    <!-- Top header -->
    <!-- ============================================================== -->
    <div class="clearfix"></div>

    <!-- ============================ Page Title Start ================================== -->
    <div class="image-cover page-title" style="background:url(/img/banner-1.jpg) no-repeat;" data-overlay="6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h2 class="ipt-title">@Model.Name</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->
    <!-- =================== Sidebar Search ==================== -->
    <section class="gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 order-md-1 order-lg-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="shorting-wrap">
                                <h5 class="shorting-title">@Model.TotalToursSelected</h5>
                                <div class="shorting-right">
                                    <label>Sort By:</label>
                                    <div class="dropdown show">
                                        <a class="btn btn-filter dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="selection">Most Rated</span>
                                        </a>
                                        <div class="drp-select dropdown-menu">
                                            <a class="dropdown-item" href="JavaScript:Void(0);">Most Rated</a>
                                            <a class="dropdown-item" href="JavaScript:Void(0);">Most Viewed</a>
                                            <a class="dropdown-item" href="JavaScript:Void(0);">News Listings</a>
                                            <a class="dropdown-item" href="JavaScript:Void(0);">High Rated</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ===================== Tour Listings ===================== -->
                    <div class="row m-0">
                        @foreach (var tour in Model.SelectedTourList)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="singlePlaceitem">
                                    <figure class="singlePlacewrap">
                                        <a class="place-link" asp-page="/TourDetail" asp-route-CurrentCulture="@Model.CurrentCulture" asp-route-id="@tour.Id"
                                           asp-route-type="@tour.TourTypeLocalizedName"
                                           asp-route-destination="@tour.Destination.Name" asp-route-name="@tour.TourLocalizedName">
                                            <img class="cover" src="/img/tours/@tour.MainPhoto" alt="tour" />
                                        </a>
                                    </figure>
                                    <div class="placeDetail">
                                        <span class="onsale-section">
                                            <span class="onsale">@tour.Discount% Off</span>
                                        </span>
                                        <div class="placeDetail-left">
                                            <div class="item-rating">
                                                <i class="fa fa-clock filled"></i>
                                                <span>@tour.Duration hours</span>
                                            </div>
                                            <h4 class="title">
                                                <a asp-page="/TourDetail" asp-route-id="@tour.Id" asp-route-CurrentCulture="@Model.CurrentCulture" asp-route-destination="@tour.DestinationName"
                                                   asp-route-name="@tour.TourLocalizedName"
                                                   asp-route-type="@tour.TourTypeLocalizedName">@tour.TourLocalizedName</a>
                                            </h4>
                                            <span class="placeDetail-detail">
                                                <i class="ti-location-pin"></i> @tour.Destination.Name
                                            </span>
                                        </div>
                                        <div class="pricedetail-box">
                                            <h6 class="price-title-cut">$@((int)tour.AdultPrice)</h6>
                                            <h4 class="price-title">$@((int)tour.DiscountedPrice)</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- =================== Loading Spinner ==================== -->
                    <div class="row m-0">
                        <div class="col-md-12 col-sm-12 mt-3 text-center">
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =================== Sidebar Search End ==================== -->

    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>

</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
